html {
  box-sizing: border-box;
  font-family: "Open Sans";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  color: #fff;
  line-height: 5.7rem;
  margin: 0;
  z-index: 3;
  bottom: 3em;
  left: 40%;
  position: absolute;
  transform: translateX(-50%);
  display: inline-block;
}

p {
  font-style: italic;
  font-size: 2rem;
  margin: 0;
  line-height: 1.5;
  z-index: 3;
  position: absolute;
  bottom: .5em;
  left: 40%;
  transform: translateX(-50%);
}
