html {
  box-sizing: border-box;
  font-family: "Open Sans";
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  overflow: hidden;
}



.img-flex {
  width: 100%;
  position: relative;
  display: block;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  color: #fff;
  display: inline;
  line-height: 5.7rem;
  margin: 0;
  position: absolute;
  z-index: 3;
  float: left;
}

p {
  font-style: italic;
  font-size: 2rem;
  margin: 0;
  line-height: 1.5;
  z-index: 3;
  top: 12rem;
  position: absolute;
}
